<ng-container *ngIf="movieList$ | async as movieList; else preloader">
  <ng-content></ng-content>
  <mat-card
    *ngFor="let movieItem of movieList.results"
    style="margin-bottom: 20px"
  >
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/', 'movie', movieItem.id]">{{
          movieItem.title
        }}</a></mat-card-title
      >
      <mat-card-subtitle
        >Дата выхода: {{ movieItem.release_date }}</mat-card-subtitle
      >
    </mat-card-header>
    <div class="movie-content-wrapper">
      <ng-container *ngIf="imageBaseUrl$ | async as imageBaseUrl">
        <img
          class="movie-content-wrapper__image"
          [attr.alt]="'Постер к фильму' + movieItem.title"
          [attr.src]="imageBaseUrl + movieItem.poster_path"
        />
      </ng-container>
      <mat-card-content class="movie-content-wrapper__content">
        <p><span class="bold-font">Описание: </span>{{ movieItem.overview }}</p>
        <p>
          <span class="bold-font">Рейтинг: </span>{{ movieItem.vote_average }}
        </p>
        <p>
          <span class="bold-font">Голосов: </span>{{ movieItem.vote_count }}
        </p>
        <ul style="padding-left: 0;" *ngIf="genreList$ | async as genreList">
          <span class="bold-font">Жанр:</span>
          <li
            *ngFor="let id of movieItem.genre_ids"
            style="list-style: none; display: inline-block;"
          >
            {{ genreList[id] }};&nbsp;
          </li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-paginator
    [length]="movieList.total_results"
    hidePageSize="true"
    [pageSize]="20"
    [pageIndex]="movieList.page - 1"
    (page)="pageEvent($event)"
  >
  </mat-paginator>
</ng-container>
<ng-template #preloader>
  <div style="display: flex; width: 100%; justify-content: center;">
    <mat-spinner [mode]="'indeterminate'"> </mat-spinner>
  </div>
</ng-template>
